html,
body {
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

@font-face {
	font-family: "Roboto";
	src: url("./fonts/roboto/roboto-v30-latin-regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("./fonts/roboto/roboto-v30-latin-500.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("./fonts/roboto/roboto-v30-latin-700.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("./fonts/roboto/roboto-v30-latin-900.woff2") format("woff2");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("./fonts/jost/jost-v14-latin-regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("./fonts/jost/jost-v14-latin-italic.woff2") format("woff2");
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("./fonts/jost/jost-v14-latin-500.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("./fonts/jost/jost-v14-latin-700.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

.App {
	height: 100%;
}

.page-container {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 460px;
	margin: 0 auto;
}

.gender-selection-wrapper {
	padding: 0 1.6rem;
	background-position: top;
	background-image: url("./images/bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #242530;
}

.gender-text {
	margin: 0;
	margin-bottom: 1.2rem;
	padding-top: 28rem;
	font-family: "Jost", sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.6rem;
	letter-spacing: 0.03em;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.button-gender {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	min-height: 4.4rem;
	margin-bottom: 1.2rem;
	padding: 1.1rem 0 0.9rem 0;
	font-family: "Jost", sans-serif;
	font-weight: 600;
	font-size: 1.6rem;
	letter-spacing: 0.02em;
	color: #242530;
	background: linear-gradient(180deg, #FFB45C 0%, #FFA438 100%);
	box-shadow: 0 0 1rem rgba(255, 162, 53, 0.25);
	border-radius: 1rem;
	cursor: pointer;
	border: none;
}

.button-gender-selection {
	margin: 0;
}

.button-man svg {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 38%;
}

.button-woman svg {
	position: absolute;
	top: 32%;
	left: 38%
}

input[type='radio'] {
	appearance: none;
}

.block-comments {
	padding-bottom: 76px;
}

.comment {
	position: relative;
	padding: 2rem 2.1rem;
	background: #2F303E;
	box-shadow: 0.3rem 0.3rem 1.2rem #242530;
	border-radius: 1rem;
}

.comment::before {
	content: "";
	position: absolute;
	top: 11px;
	right: 28px;
	width: 32px;
	height: 45px;
	background-image: url("./images/icons/bg-icon-quotes-1.svg");
	background-repeat: no-repeat;
}

.comment::after {
	content: "";
	position: absolute;
	top: 11px;
	right: -8px;
	width: 32px;
	height: 45px;
	background-image: url("./images/icons/bg-icon-quotes-2.svg");
	background-repeat: no-repeat;
}

.photo-commenters-lylia {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 3.2rem;
	height: 3.2rem;
}

.photo-commenters-ehor {
	position: absolute;
	top: 20px;
	left: 49px;
	width: 3.2rem;
	height: 3.2rem;
}

.commenters-name {
	padding-left: 71px;
	margin: 0;
	margin-bottom: 3px;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.4rem;
	color: #FFFFFF;
}

.data-comment {
	padding-left: 71px;
	margin: 0;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.4rem;
	color: #656D78;
}

.comment-text {
	font-weight: 400;
	font-style: italic;
	font-size: 1.4rem;
	line-height: 1.9rem;
	color: #AAB2BD;
}

.link-read-more {
	font-style: normal;
	color: #FFA438;
	cursor: pointer;
	text-decoration: underline;
}

.main-footer {
	background: #3B3C4B;
	box-shadow: inset 0 .2rem 2rem rgba(0, 0, 0, 0.45);
}

.navigation-menu {
	padding: 2.4rem 0 1.9rem 0;
}

.navigation-link {
	display: block;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.9rem;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.navigation-link:not(:last-child) {
	margin-bottom: 2rem;
}

.main-purpose-of-dating {
	background-position: top;
	background-size: 100%;
	background-image:  url("./images/bg-purpose-dating.jpg"), linear-gradient(180deg, rgba(36, 37, 48, 0) 30.21%, #242530 95.83%);
	background-repeat: no-repeat;
	background-color: #242530;
	padding: 0 2.4rem;
}

.title-purpose-of-dating {
	padding-top: 16.5rem;
	margin: 0;
	margin-bottom: 1.6rem;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 2.6rem;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	text-align: center;
}

.button-purpose-of-dating {
	width: 100%;
	min-height: 44px;
	padding: 1.3rem 0 1.4rem 0;
	margin-bottom: 1.4rem;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.6rem;
	color: #242530;
	background: linear-gradient(180deg, #FFB45C 0%, #FFA438 100%);
	border: none;
	border-radius: 1rem;
	cursor: pointer;
}

.promt-text {
	margin-top: 4.5rem;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.6rem;
	color: #AAB2BD;
	opacity: 0.6;
	text-align: center;
}

.container-create-quastionnaire {
	min-width: 320px;
	min-height: 460px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.main-create-quastionnaire {
	padding: 0 2.4rem;
	background-image: url("./images/bg-create-quastionnaire.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: #242530;
}

.title-create-quastionnaire {
	margin: 0;
	margin-top: 13.5rem;
	font-family: 'Jost', sans-serif;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 2.6rem;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
}

.text-create-quastionnaire {
	margin: 0.4rem 0 1.2rem 0;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.6rem;
	color: #AAB2BD;
	opacity: 0.6;
	text-align: center;
}

.label-name-quastionnaire {
	position: relative;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.6rem;
	color: #FFFFFF;
}

.name-wrapper {
	position: relative;
}

.name-wrapper-valid::before {
	position: absolute;
	content: "";
	background-image: url('./images/icons/check-mark.svg');
	background-repeat: no-repeat;
	width: 19px;
	height: 14px;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
	z-index: 2;
}

.name-wrapper-invalid::before {
	position: absolute;
	content: "";
	background-image: url('./images/icons/cross.svg');
	background-repeat: no-repeat;
	width: 19px;
	height: 14px;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
	z-index: 2;
}

.name-quastionnaire {
	position: relative;
	display: block;
	width: 100%;
	padding: 1.4rem 0 1.4rem 1.6rem;
	margin: 0.6rem 0 1.8rem 0;
	font-family: "Roboto", sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	color: #242530;
	background: #C7C8D0;
	box-shadow: inset 0.1rem 0.1rem 0.6rem rgba(36, 37, 48, 0.5);
	border-radius: 1rem;
	border: none;
	box-sizing: border-box;
}

.name-quastionnaire:focus {
	outline: none;
	border: 3px solid #FFB45C;
}

.name-quastionnaire-valid {
	border: 3px solid #599F39;
}

.name-quastionnaire-invalid {
	outline: none;
	border: 3px solid #FF5E5E;
}

.input-box-error {
	position: relative;
}

.input-box-error .input-name-quastionnaire {
	 border: 3px solid #FF4500;
}

.error-massage-container {
	color: #FF4500;
	margin-top: -1.7rem;
	font-size: 1rem;
}

.input-wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.select-quastionnaire {
	width: 32.7%;
	padding: 1.4rem 0 1.4rem 1.6rem;
	margin: 0.6rem 0 1.8rem 0;
	font-family: "Roboto", sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.6rem;
	background: #C7C8D0;
	box-shadow: inset 0.1rem 0.1rem 0.6rem rgba(36, 37, 48, 0.5);
	border: none;
	border-radius: 1rem;
}

.select-quastionnaire:not(:last-of-type) {
	margin-right: 0.8rem;
}

.select-quastionnaire:focus {
	outline: none;
	border: 3px solid #FFB45C;
}

.select-quastionnaire-invalid {
	outline: none;
	border: 3px solid #FF5E5E;
}

.select-quastionnaire-valid {
	border: 3px solid #599F39;
}

.select-wrapper {
	width: 32.7%;
}

.label-password-quastionnaire {
	position: relative;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.6rem;
	color: #FFFFFF;
}

.password-quastionnaire {
	width: 100%;
	padding: 1.4rem 0 1.4rem 1.6rem;
	margin: 0.6rem 0 1.8rem 0;
	font-family: "Roboto", sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	background: #C7C8D0;
	box-shadow: inset 0.1rem 0.1rem 0.6rem rgba(36, 37, 48, 0.5);
	border-radius: 1rem;
	border: none;
	box-sizing: border-box;
}

.password-quastionnaire:focus {
	outline: none;
	border: 3px solid #FFB45C;
}

.password-quastionnaire-valid {
	border: 3px solid #599F39;
}

.password-quastionnaire-invalid {
	outline: none;
	border: 3px solid #FF5E5E;
}

.password-wrapper {
	position: relative;
}

.password-wrapper-valid::before {
	position: absolute;
	content: "";
	background-image: url('./images/icons/check-mark.svg');
	background-repeat: no-repeat;
	width: 19px;
	height: 14px;
	top: 39%;
	right: 5%;
	z-index: 2;
}

.password-wrapper-invalid::before {
	position: absolute;
	content: "";
	background-image: url('./images/icons/cross.svg');
	background-repeat: no-repeat;
	width: 19px;
	height: 14px;
	top: 42%;
	right: 5%;
	transform: translateY(-50%);
	z-index: 2;
}

.label-mail-quastionnaire {
	position: relative;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.6rem;
	color: #FFFFFF;
}

.mail-wrapper {
	position: relative;
}

.mail-wrapper-valid::before {
	position: absolute;
	content: "";
	background-image: url('./images/icons/check-mark.svg');
	background-repeat: no-repeat;
	width: 19px;
	height: 14px;
	top: 50%;
	right: 5%;
	z-index: 2;
}

.mail-wrapper-invalid::before {
	position: absolute;
	content: "";
	background-image: url('./images/icons/cross.svg');
	background-repeat: no-repeat;
	width: 19px;
	height: 14px;
	top: 55%;
	right: 5%;
	transform: translateY(-50%);
	z-index: 2;
}

.mail-quastionnaire {
	width: 100%;
	padding: 1.4rem 0 1.4rem 1.6rem;
	margin-top: 0.6rem;
	font-family: "Roboto", sans-serif;
	font-size: 1.4rem;
	background: #C7C8D0;
	box-shadow: inset 0.1rem 0.1rem 0.6rem rgba(36, 37, 48, 0.5);
	border-radius: 1rem;
	border: none;
	box-sizing: border-box;
}

.mail-quastionnaire-valid {
	border: 3px solid #599F39;
}

.mail-quastionnaire-invalid {
	outline: none;
	border: 3px solid #FF5E5E;
}

.mail-quastionnaire:focus {
	outline: none;
	border: 3px solid #FFB45C;
}

.button-create-quastionnaire {
	width: 100%;
	padding: 1.3rem 0 1.4rem 0;
	margin: 2.4rem 0 1.2rem 0;
	font-size: 1.4rem;
	font-weight: 900;
	line-height: 1.6rem;
	letter-spacing: 0.02em;
	color: #242530;
	background: linear-gradient(180deg, #FFB45C 0%, #FFA438 100%);
	border-radius: 1rem;
	cursor: pointer;
	border: none;
}

.button-create-quastionnaire:disabled {
	opacity: 0.4;
}

.label-checkbox {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 2.2rem;
	margin-bottom: 4.2rem;
	font-family: "Roboto", sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.2rem;
	color: #656D78;
	cursor: pointer;
}

.checkbox-mark {
	position: absolute;
	top: 15px;
	left: 4px;
	background-image: url("./images/icons/bg-checkbox.svg");
	width: 13px;
	height: 13px;
}

.input-checkbox {
	appearance: none;
}

.input-checkbox[type="checkbox"]:checked ~ .checkbox-mark  {
	width: 13px;
	height: 13px;
	background: url("./images/icons/check-mark-icon.svg") 0 0 repeat;
	background-position: center;
}

.text-name-error {
	position: absolute;
	top: 5rem;
	left: 1rem;
	width: 50rem;
	font-weight: 400;
	font-size: 1.4rem;
	color: red;
}

.text-password-error {
	position: absolute;
	top: 5.6rem;
	left: 1rem;
	width: 50rem;
	font-weight: 400;
	font-size: 1.4rem;
	color: red;
}

.select-error {
	position: absolute;
	top: 5.7rem;
	left: 1rem;
	width: 100%;
	font-weight: 400;
	font-size: 1.4rem;
	color: red;
}

.text-email-error {
	position: absolute;
	top: 7rem;
	left: 1rem;
	width: 50rem;
	font-weight: 400;
	font-size: 1.4rem;
	color: red;
}

.transition-link:not(:last-child) {
	appearance: none;
	text-decoration: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@media (min-width: 320px){
	.button-man svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 29%
	}
	.button-woman svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 29%
	}
}

@media (min-width: 375px) {
	html,
	body {
		font-size: 12px;
	}
	.button-man svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 28%
	}
	.button-woman svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 28%
	}
}

@media (min-width: 425px) {
	html,
	body {
		font-size: 14px;
	}
	.button-man svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 28%
	}
	.button-woman svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 28%
	}
}


@media (min-width: 480px) {
	html,
	body {
		font-size: 16px;
	}
	.button-man svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 28%
	}
	.button-woman svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 28%
	}
}

@media (min-width: 768px) {
	.button-man svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 35%
	}
	.button-woman svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 35%
	}
}